#mainContent1
{
    width:80%;
    text-align: center;
    font-size:30px;
}

#mainContent1Title
{
    font-size:55px;
    text-decoration: none;
}

#mainContent1 h2
{
    color:#0078e7;
    font-size:45px;
}
